<!DOCTYPE html>

<html>
    <head>
        <link href="/css/style.css" rel="stylesheet">
        <title>   About   </title>
         <link rel='icon' href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src='/img/me.jpg' class='potrait'>
        </div>
     
        {{>footer}}
    </body>
</html>